*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(#BD00FF, #03B3FF);
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
}

.header{
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
}

.dados{
  display: flex;
  justify-content: center;
}

.usuario{
  margin-right: 15px;
  margin-top: 280px;
}

.cartao{
  margin-left: 15px;
  margin-top: 280px;
}

.input-field{
  opacity: 0.6;
}

.input-field input{
  width: 280px;
  height: 40px;
  margin-top: 10px;
}

.input-field input::placeholder{
  position: relative;
  left: 7px;
  color: #545454;
}

form input[type="submit"]{
  width: 100px;
  height: 35px;
  background-color: #00FF75;
  cursor: pointer;
  position: absolute;
  top: 530px;
}
