@import url('https://fonts.googleapis.com/css2? family= Inter & display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  background-image: linear-gradient(#BD00FF, #03B3FF);
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

h1{
  color: white;
  display: grid;
  justify-content: center;
  position: relative;
  top: 65px;
}

.login{
  display: grid;
  justify-content: center;
  justify-items: center;
  margin-top: 200px;
}

.login img{
  margin-bottom: 21px;
}

.login input{
  margin-top: 10px;
  height: 40px;
  width: 280px;
}

.login input::placeholder{
  position: relative;
  left: 7px;
}

a{
  color: black;
  text-decoration: none;
}

.esqueci{
  position: relative;
  left: 10px;
  top: 5px;
}

.registrar{
  margin-top: 5px;
  text-align: center;
}

form input[type="submit"]{
  position: relative;
  left: 92px;
  width: 100px;
  height: 35px;
  background-color: #00FF75;
  cursor: pointer;
  margin-top: 19px;
}